@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to right, #141e30, #243b55);
    height: 100vh;
    background-size: cover;
}

.container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.form-feild {
    background: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
    border-radius: 9px;
    display: flex;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    margin: right 2px;
    ;
}

h2 {
    color: aqua;
    display: flex;
    justify-content: center;
}

h1 {
    color: aqua;
    display: flex;
    justify-content: center;
}


button {
    border-radius: 4px;
    display: block;
    color: aqua;
    background: #666;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    box-shadow: 4px 4px 4px 3px #823579;
    margin: 0 auto;
    text-align: center;
}

.input-feild .input {
    background: transparent;
    color: aqua;
    border: 0;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid aqua;
    padding: 10px;
    margin: 10px 20px;
    width: 100%;

}

::webkit-input-placeholder {
    color: aquamarine;
}

::moz-input-placeholder {
    color: aquamarine;
}

button:hover {
    color: orange;
    background-color: cyan;
}